<h1>Total Number of Product (<%= @products.length %>) </h1>

<%= link_to "Create a New Product", "/products/new" %>

<% @products.each do |product| %>
<div class="product-list">
<p>
  <%= product.name %><br>
  <%= product.description %> <br>
  <%= product.formatted_price %> <br>
  <%= link_to image_tag(product.url), "/products/#{product.id}" %>
</p>
  </div>
  <% end %>
