<h1><u><center>Product Information Page</center></u></h1>

<div class="product">
<p> 
  <b>Name:</b>
  <%= @product.name %>
  </p>
  </div>

<div class="product">
<p> 
  <b>Description:</b>
  <%= @product.description %> 

  </p>
  </div>

  <div class="product">
<p> 
  <b>Price: $</b>
  <%= @product.formatted_price %>
  </p>
  </div>

  <div class="image-index">
<p> 
  <br>
  <%= image_tag @product.url %>
  </p>
  </div>


<div id="review-list">
  <%= render :partial => "reviews" %>
  </div>

  
              
<!-- JS code for Step by step walkthourgh of what happens when you create a review:

<script type="text/javascript">

  $(document).ready(function() {
     $("#new_review")
        .on('ajax:beforeSend', function() {alert("loading!");})
        .on('ajax:success', function(data, status, xhr) {alert("success!");})
        .on('ajax:error', function(xhr, status, error) {alert("error!");})
        .on('ajax:complete', function() {alert("complete!");});
  });

</script>
-->

<br>
<%= link_to 'Back to Product', products_path %> | <%= link_to 'Edit Product', edit_product_path(@product) %> | <%= link_to "Delete Product", @product, method: :Delete, data: {confirm: "Are you sure you want to delete this Product?"} %>

