<h1>Products#show</h1>

<div class="product">
<p> 
  <b>Name:</b>
  <%= @product.name %>
  </p>
  </div>

<div class="product">
<p> 
  <b>Description:</b>
  <%= @product.description %>
  </p>
  </div>

  <div class="product">
<p> 
  <b>Price: $</b>
  <%= @product.formatted_price %>
  </p>
  </div>

  <div class="product">
<p> 
  <b>Product URL:</b><br>
  <%= image_tag @product.url %>
  </p>
  </div>


<br>
<%= link_to 'Back', products_path %>

