<h1>Product Information Page</h1>

<div class="product">
<p> 
  <b>Name:</b>
  <%= @product.name %>
  </p>
  </div>

<div class="product">
<p> 
  <b>Description:</b>
  <%= @product.description %>
  </p>
  </div>

  <div class="product">
<p> 
  <b>Price: $</b>
  <%= @product.formatted_price %>
  </p>
  </div>

  <div class="product">
<p> 
  <b>Product Picture:</b><br>
  <%= image_tag @product.url %>
  </p>
  </div>


<br>
<%= link_to 'Back to Product', products_path %> | <%= link_to 'Edit Product', edit_product_path(@product) %> | <%= link_to "Delete Product", @product, method: :Delete, data: {confirm: "Are you sure you want to delete this Product?"} %>

